<div>
  <% @artists.each do |artist| %>
    <h1><%= artist.name %></h1>
    <small><%= artist.origin %></small>
    <p><%= artist.bio %></p>
  <% end %>
</div><br />

<%= link_to 'Create Artist', new_artist_path, class: 'btn btn-default' %>
